<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <!-- INTERNET is required for the VM service during performance profiling. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        tools:replace="android:label"
        android:label="@string/app_name_profile"/>
</manifest>
